:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 228, 204)
}

h1 {
    font-size: 36px;
    color: aliceblue;
    text-align: center;
    background: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
    margin-bottom: 25px;
    padding: 1.5%
}

label {
    font-weight: bold;
    font-size: 20px;
    width: 70%;
}

#searchBtn {
    font-weight: bold;
    height: 25px;
    width: 50%;
    color:#886AEA
    
}

.input-form {
    width: 40%;

}


.container {
    display: flex;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
}

input {
    margin: 7px 0 9px 0;
    height: 25px;
}

.todayBox {
    justify-content: space-between;
    background-color: #886AEA;
    color: white;
    width: 50%;
    
}

.fivedays {
    width: 100%
    

}
.cityname {
    width: 70%
}

h2 {
    text-align: center;
}

.todayWeather {
    padding-left: 20px;   
}

#todayCity {
    font-size: 30px;
}

#todayTemp {
    font-size: 20px;
    padding: 1%;
}

#todayWind {
    font-size: 20px;
    padding: 1%;
}

#todayHumidity {
    font-size: 20px;
    padding: 1%;
}

.fivedays h2 {
    padding: 2%;
}